/* ESTRUCTURA GENERAL */
body {
  margin: 0;
  padding: 0;
  text-align: left;
  background-image: url("../images/fondo.jpg");
}

#principal {
  position: relative;
  width: 960px;
  margin: 5px auto;
  background-color: white;
}

header, section, aside, footer, .res1, .res2, .mensaje_error {
  float: left;
  border: 1px solid #960;
  border-radius: 5px 5px;
  box-shadow: #630 2px 2px 4px;
  background-color: #fff;
}

header {
  display: block;
  width: 950px;
  height:130px;
  margin: 5px auto;
  padding: 0px 5px 0 5px;
  text-align: right;
  background-image: url("../images/header.jpg");
}

.login {
  display: block;
  float: right;
  padding: 10px;
  width: 350px;
  text-align: right;
}

.cont_ancho {
  position: relative;
  width: 950px;
  min-height: 250px;
  margin: 5px 0px;
  padding: 5px;
  text-align: center;
  background: #fff url("../images/watermark.png") no-repeat center center;
}

.login_form, .register_form {
  position: relative;
  display: block;
  float: left;
  margin: 40px 25px;
  padding: 10px;
  width: 400px;
  height: 300px;
  text-align: left;
  border: 1px solid #960;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 5px 5px;
  box-shadow: #630 2px 2px 4px;
}

.register_form {
  margin: 20px 25px;
}

.error {
  position: absolute;
  bottom: 5px;
  width: 345px;
  margin: 0px auto;
  font-size: 1.3em;
  text-align: center;
  color: #ff0000;
  background-color: #bbbbbb;
  border: 2px solid #ff8888;
}


section {
  position: relative;
  width: 574px;
  min-height: 450px;
  margin: 5px 10px;
  padding: 5px;
  text-align: center;
  background: #fff url("../images/watermark.png") no-repeat center center;
}

.mensaje_error {
  width: 950px;
  height: 30px;
  min-height: 40px;
  margin: 10px 0px;
  text-align: center;
  background-image: none;
}

.res1, .res2 {
  position: relative;
  width: 462px;
  background: #fff url("../images/res_watermark.png") no-repeat center center;
}

.res1 {
  margin: 5px 0;
  min-height: 400px;
}

.res2 {
  margin: 5px 0 5px 10px;
  min-height: 400px;
}

.cont_paginacion {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 10px;
}

aside {
  width: 180px;
  min-height: 450px;
  margin: 5px 0;
  padding: 5px;
  text-align: center;
}

#bloque_derecho {
  width: 149px;
  min-height: 450px;
  margin: 5px 0;
  padding: 5px;
  text-align: center;
}

.rotulo {
  margin: 10px 0;
}

footer {
  width: 950px;
  height:50px;
  margin: 5px auto;
  padding: 0px 5px 0 5px;
  text-align: center;
  background-color: #960;
}

textarea.enviar_msj {
  resize:none;
  font-size: 0.9em;
  width: 170px;
}

textarea.editar_msj {
  resize:none;
  width: 500px;
  padding: 5px;
  border-radius: 5px 5px;
  box-shadow: #666 2px 2px 4px;
  font-size: 1.1em;
}

input[type=number] {
   width: 110px;
}

form * {
  margin: 5px 0;
}

form.pag {
  display: inline;
}

.leyenda {
  float: left;
  width: 30px;
  margin-left: 10px;
  color: #960 ;
  text-align: left;
}

.dato {
  float: left;
  width: 100px;
  margin: 5px 5px;
  color: #00f;
  text-align: left;
}

.icono {
  float: left;
  width: 36px;
  height: 36px;
}


/* INPUT PAGINACIÓN */


input.pg {
  background: url("../images/cyan-rd.png");
  color: #fff;
  border: none;
  padding: 0;
  height: 36px;
  width: 36px;
}

input.pg_actual {
  background: url("../images/orange-actual.png");
  color: #ff0;
  font-weight: bold;
  border: none;
  padding: 0;
  height: 36px;
  width: 36px;
}

input.pg_siguiente {
  background: url("../images/cyan-siguiente.png");
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 0;
  height: 36px;
  width: 83px;
}

input.pg_anterior {
  background: url("../images/cyan-anterior.png");
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 0;
  height: 36px;
  width: 83px;
}
/* FIN INPUT PAGINACIÓN */

/* INPUT LOGIN */

.nick, .password, .etiqueta {
  float: left;
  color: #00f;
  font-size: 1.2em;
  font-weight: bold;  
  width: 180px;
}

.etiqueta {
  width: 150px;
  text-align: left;
}

.entrar {
  clear: both;
  width: 100%;
  text-align: center;
}


/* FIN INPUT LOGIN */

.hashtag {
  width: 114px;
  height: 30px;
  margin: 10px 0;
  padding: 0 0 0 25px;
  text-align: left;
  vertical-align: middle;
  font: normal bold 1.0em  arial, sans-serif;
  background: #fff url("../images/filtro_hashtag_green.png") left center no-repeat;
  border: #aaa 3px ridge;
}

/* FORMATOS DE PÁRRAFO */


.titulo {
  text-align: center;
  color: #06c;
  font: bold verdana, sans-serif;
  text-decoration: underline;
}

.derecha {
  text-align: right;
  padding: 0 10px;
}

.izquierda {
  text-align: left;
  padding: 0 10px;
}

.justificado {
  text-align: justify;
  padding: 0 10px;
}

.indentado {
  text-indent: 50px;
  text-align: left;
}

.resaltar {
  color: blue;
  font-weight: bold;
}

.resaltar_claro {
  color: #aaf;
  font-weight: bold;
}

.numero_tuits {
  color: orange;
  font-style: oblique;
  font-size: 0.8em;
}


.hashtag_leyenda {
  font-size: 0.8em;
  color: blue;
  font-weight: bold;
}

.numero_rep_hashtags {
  color: orange;
  font-style: oblique;
  font-size: 0.9em;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: 0.6em;
  font-weight: 200;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 0.6em;
  font-weight: 200;
}

.ok::before {
  content: "OK:";
  background-color: #00f;
  color: #fff;
}

.ok {
  color: #00f;
  text-align: center;
  font-size: 1.5em;
  font-weight: 150;
}

.err::before {
  content: "ERROR:";
  background-color: #f00;
  color: #fff;
}

.err {
  color: #f00;
  text-align: center;
  font-size: 1.5em;
  font-weight: 150;
}


/* DISEÑO DE TABLA */

  table {
    margin: auto;
    text-align: center;
    width: 100%;
    background: #fff;
    border: 1px solid #960;
    border-radius: 5px 5px;
  }

  th {
    background-color: #960;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
  }

  tr.mensajes {
    height: 60px;
  }

  tr:nth-child(even) {
    background-color: #fdf7ee;
  }

  tr:nth-child(odd) {
    background-color: #fdf1e0;
  }

  th, td {
    height: 30px;
    font-size: 0.9em;
  }

  td.id {
    max-width:8%;
  }

  td.mensaje {
    max-width:60%;
    overflow: hidden;
    word-wrap: break-word;
  }

  td.fecha {
    max-width:16%;
    font-size: 0.8em;
  }

  td.accion {
    max-width:16%;
  }

  .celdas_vacias {
    border: none;
  }